<?xml version="1.0" ?>
<robot name="robotic_arm_base">
    <!-- Define the base link -->
   <link name="base_link">
        <inertial>
            <mass value="3815"/>
            <origin xyz="0 0 0.309" rpy="0 0 0"/>
            <inertia ixx="36.11" ixy="0.0" ixz="0.0" iyy="36.11" iyz="0.0" izz="47.69"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="roboticarm/meshes/base_mesh.stl" />
            </geometry>
            <material name="pink">
                <color rgba="246 36 89 1" />
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="roboticarm/meshes/base_mesh.stl" />
            </geometry>
        </collision>
    </link>
</robot>
